<div class="all-content">

    <div class="item-column">

        <div class="headding">Created by Chris Patton</div>
        <p>I'm a dynamics and simulation engineer. I have worked in Formula 1, LMP1, and most recently, space vehicle development.</p>
        <p>I am not an epidemiologist or medical doctor.</p>

        <div class="headding">What is Covid Controller?</div>
        <p>Covid Controller is a web app based on a simple model of disease transmission. It allows anyone to control the inputs that determine how a disease will spread.</p>
        <p>The goal is to improve understanding and intuition of this very complicated situation. </p>

        <div class="headding">What Covid Controller is NOT</div>
        <p>Covid Controller is not intended to predict the outcome of the covid19 pandemic.</p>

        <p>
            The dynamics of disease transmission are fundamentally challenging. Small changes in behavior can result in massive swings in outcomes.
        </p>
        This challenge is a double edged sword:
        <ul>
            <li>Even professionals with the best data and models have little chance of accurately predicting the outcome.</li>
            <li>We can be informed by these models and our individual actions can have large effects.</li>
        </ul>

        <div class="headding">Why did I create this? </div>
        <p>
            Since the beginning of the Covid19 pandemic, we have all been overloaded with information. Without any context, it is difficult to digest and we all have a lot of questions.
        </p>
        <p>
            I’m an engineer, so I started doing simple hand calculations to answer my simplest questions and to improve my understanding. To answer more sophisticated questions, the calculations got more sophisticated. Eventually I ended up with a model of disease
            spread that allowed me to input basic parameters and simulate the pandemic.
        </p>
        <p>
            Running these experiments allowed me to answer basic questions and improved my understanding of disease spread. I thought it might be useful for others to use as well, so I turned that model into CovidController.com.
        </p>



        <div class="headding">Contact</div>
        <a class="link" href="mailto:chris@CovidController.com" target="_top">
            chris@CovidController.com
        </a>

        <div class="headding">View code on GitHub</div>
        <a class="link" href="https://github.com/crispyDyne/epidemic" target="_blank" rel="noopener noreferrer">
            crispyDyne/epidemic
        </a>

    </div>

</div>