.all-content {
    width: 90%;
    max-width: 27rem;
    margin: auto;
    padding-bottom: 2rem;
}

@media only screen and (min-width: 53rem) {
    .all-content {
        padding-bottom: 10rem;
    }
}

.item-column {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.link {
    width: 250px;
    display: flex;
}

.headding {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 12pt;
}