<div class="all-content">
    <div>
        <h3>About Me</h3>
        <p>
            I'm a dynamics and simulation engineer learning web development. 
            I have worked in Formula 1, LMP1, and most recently, space vehicle development.
        </p>
    </div>

    <div class="item-column">
        <div style="font-weight: bold; font-size: 12pt;">View Code</div>
        <!-- <a class="link"
        href="https://github.com/crispyDyne/epidemic"
        target="_blank" rel="noopener noreferrer"
        ><img src="/assets/GitHub-Mark-120px-plus.png" alt="github" style="width: 25px; height: 25px;"></a> -->
        <a class="link"
        href="https://github.com/crispyDyne/epidemic"
        target="_blank" rel="noopener noreferrer"
        >crispyDyne/epidemic</a>

        <div style="font-weight: bold; font-size: 12pt;">Contact</div>
        <a class="link" href="mailto:chris@CovidController.com" target="_top">
            chris@CovidController.com
        </a>
        
        <div 
        class="LI-profile-badge"  
        data-version="v1" 
        data-size="medium" 
        data-locale="en_US" 
        data-type="horizontal" 
        data-theme="light" 
        data-vanity="chris-patton-650762b">
        <a class="LI-simple-link" href='https://www.linkedin.com/in/chris-patton-650762b?trk=profile-badge' target="_blank" rel="noopener noreferrer">Chris Patton
        </a></div>
    </div>

</div>