.all-content {
  width: 95%; 
  max-width: 500px;    
  margin: auto;

}


.item-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  width: 250px;
  margin: 10px;
  display: flex;
  justify-content: center;
}