<div class="all-content">
    <div>
    </div>
    
    <div class="item-column">
        <!-- <h3>About Me</h3> -->
        <div class="headding">About Me</div>
        <p>
            I'm a dynamics and simulation engineer learning web development. 
            I have worked in Formula 1, LMP1, and most recently, space vehicle development.
        </p>
        
        <div class="headding">Contact</div>
        <a class="link" 
            href="mailto:chris@CovidController.com" 
            target="_top">
            chris@CovidController.com
        </a>
        
        <div class="headding">View on GitHub</div>
        <a class="link"
            href="https://github.com/crispyDyne/epidemic"
            target="_blank" rel="noopener noreferrer">
            crispyDyne/epidemic
        </a>

    </div>

</div>