<div class="set">
    <nav class="d-pad">
        <button class="up" (click)="up.emit()"></button>
        <button class="right" (click)="right.emit()"></button>
        <button class="down" (click)="down.emit()"></button>
        <button class="left" (click)="left.emit()"></button>
    </nav>
    <!-- <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav> -->
</div>
<!-- <div class="set wire">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set setbg white">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set blue">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set setbg2 clear">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set dark">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set outline">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->
<!-- <div class="set pink">
    <nav class="d-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
    <nav class="o-pad">
        <button class="up" href="#"></button>
        <button class="right" href="#"></button>
        <button class="down" href="#"></button>
        <button class="left" href="#"></button>
    </nav>
</div> -->