
<mat-card>
    <mat-card-content class="stats-box">


        <div class='toggle-box'>
            <div>
                <mat-button-toggle-group class="toggle" (change)="toggleTotalDaily()" [ngModel]=config.plot[0].fun.label>
                    <mat-button-toggle value="total">Total</mat-button-toggle>
                    <mat-button-toggle value="daily">Daily</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <mat-button-toggle-group class="toggle" (change)="toggleLinLog()" [ngModel]=config.plot[0].scale.type>
                    <mat-button-toggle value="logarithmic">Logarithmic</mat-button-toggle>
                    <mat-button-toggle value="linear">Linear</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>


        <div class="switch" *ngFor="let key of objectKeys(sources)">
            <mat-slide-toggle color="primary" (change)="hideSource($event,key)" [checked]="sources[key].hidden ? false : true">{{sources[key].label}}</mat-slide-toggle>
        </div>
        <div class="description">
                Data provided by <a href="https://covidtracking.com/">covidtracking.com</a>
        </div>

</mat-card-content>

</mat-card>