
.stats-box {
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr; //repeat(auto-fit, minmax(180px, 1fr));
  }



  ///
.toggle-box {
    grid-column: span 2 / auto;
    gap: 1rem;
}

.toggle {
    float: left;
    margin: 2px;
}

///
.stat {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    color: white;
    font-size: small;
    cursor: pointer;
}

.stat:hover{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}


//
.switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    grid-column: span 2 / auto;
}