<mat-tab-group class="tab-group">

    <mat-tab label="Presets">

        <p class="description">
            <strong>Social Mitigation - Preset Cases</strong> <br>
            The Large, Moderate, and Small Effect cases roughly corespond to the <a href="https://covid19.healthdata.org/projections">projections made by IHME</a> (as of April 1, 2020). The No Action case assumes no social mitigations.
        </p>

        <div class="case-box">
            <button mat-flat-button class="case" *ngFor="let case of objectKeys(cases); let i=index;" (click)="setCase(case)" color="primary">{{cases[case].label}}</button>
        </div>

    </mat-tab>

    <mat-tab label="Social">

        <p class="description">
            <strong>Social Mitigation Effectiveness</strong> <br>
            Effect of social behavior on disease transmission. A value of 1, is "buisness as usual", and 0 is total isolation.
        </p>

        <div class="slider-box" *ngIf="config">
            <div *ngFor="let item of config.controls.social; let i = index; trackBy:identifierIndex" class="slider"  matRipple [matRippleRadius]="50">
                <p class="label">
                    {{dateFromDay(config.controls.days[i]) | date : 'MMM'}}
                    {{dateFromDay(config.controls.days[i]) | date : 'd'}}
                </p>
                
                <mat-icon
                    class="icon-button" (click)=increment(item)>keyboard_arrow_up</mat-icon>

                <p class="value">{{item.value | number:'1.2-3'}}</p>

                <mat-icon
                    class="icon-button"(click)=decrement(item)>keyboard_arrow_down</mat-icon>

            </div>
        </div>

    </mat-tab>


    <mat-tab label="Testing">

        <p class="description">
            <strong>Number of Tests Available Per Day</strong> <br>
            The model assumes a 15% positive rate and a 5 day delay.
        </p>

        <div class="slider-box" *ngIf="config">
            <div *ngFor="let item of config.controls.tests; let i = index; trackBy:identifierIndex" class="slider" matRipple [matRippleRadius]="50">
                <p class="label">
                    {{dateFromDay(config.controls.days[i]) | date : 'MMM'}}
                    {{dateFromDay(config.controls.days[i]) | date : 'd'}}
                </p>
                <mat-icon 
                class="icon-button" (click)=incrementTesting(item)>keyboard_arrow_up
                </mat-icon>

                <p class="value">{{pow10(item.value)}}</p>

                <mat-icon 
                    class="icon-button"(click)=decrementTesting(item)>keyboard_arrow_down
                </mat-icon>

            </div>
        </div>

    </mat-tab>

    <mat-tab label="Disease"> 
        <p class="description">
            <strong>Disease and Population Parameters</strong> <br>
            Severe and critical cases have 5% and 50% death rates, respectively.
        </p>

        <div *ngIf="config" class="slider-box">
            <div class="slider" matRipple [matRippleRadius]="50">
                <p class="label">R0</p>
                <mat-icon
                class="icon-button" (click)=incrementItem(config.sim.R0)>keyboard_arrow_up</mat-icon>
                
                <p class="value">{{config.sim.R0.value}}</p>

                <mat-icon 
                    class="icon-button"(click)=decrementItem(config.sim.R0)>keyboard_arrow_down
                </mat-icon>

            </div>

            <div  class="slider" matRipple [matRippleRadius]="50">
                <p class="label">First Infection</p>
                <mat-icon
                    class="icon-button" (click)=incrementItem(this.config.sim.dayOffset)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{ dateFromDay(this.config.sim.dayOffset.value) | date : 'MMM d' }}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(this.config.sim.dayOffset)>keyboard_arrow_down
                </mat-icon>

            </div>

            <div  class="slider"  matRipple [matRippleRadius]="50">
                <p class="label">Pop.</p>
                <mat-icon 
                    class="icon-button" (click)=incrementItem(config.sim.population)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{postFix_kMBT(config.sim.population.value)}}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(config.sim.population)>keyboard_arrow_down
                </mat-icon>

                </div>

            <div class="slider"  matRipple [matRippleRadius]="50">
                <p class="label">Asymp- tomatic</p>
                <mat-icon 
                    class="icon-button" (click)=incrementItem(config.sim.asymptomatic)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{config.sim.asymptomatic.value | percent:'0.0-2'}}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(config.sim.asymptomatic)>keyboard_arrow_down
                </mat-icon>
            </div>

            <div class="slider"  matRipple [matRippleRadius]="50">
                <p class="label">Moderate</p>
                <mat-icon
                    class="icon-button" (click)=incrementItem(config.sim.moderate)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{config.sim.moderate.value | percent:'0.0-2'}}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(config.sim.moderate)>keyboard_arrow_down
                </mat-icon>

            </div>  
            <div class="slider"  matRipple [matRippleRadius]="50">
                <p class="label">Severe</p>
                <mat-icon
                    class="icon-button" (click)=incrementItem(config.sim.severe)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{config.sim.severe.value | percent:'0.0-2'}}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(config.sim.severe)>keyboard_arrow_down
                </mat-icon>

                </div>   
            <div class="slider" matRipple [matRippleRadius]="50">
                <p class="label">Critical</p>
                <mat-icon
                    class="icon-button" (click)=incrementItem(config.sim.critical)>keyboard_arrow_up
                </mat-icon>
                
                <p class="value">
                    {{config.sim.critical.value | percent:'0.0-2'}}
                </p>

                <mat-icon
                    class="icon-button"(click)=decrementItem(config.sim.critical)>keyboard_arrow_down
                </mat-icon>
            </div> 
        </div>

    </mat-tab>

</mat-tab-group>