

.tab-group {
    height: 100%;
    width: 100%;
}

.description {
    font-size: 10pt;
    margin: 0px;
    padding-top: 10px;
}
.plot {
    width: 100%;
    flex-grow: 1;

    display: flex !important;
    flex-direction: column;
}


.stats-box {
    align-self: stretch;
    margin: 0px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr; 
    margin-bottom: 10px;
    padding: 10px;
  }

  .stat {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    color: white;
    font-size: small;
    cursor: pointer;
}

.stat:hover{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}