:host {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

@media only screen and (min-width: 50rem) {
     :host {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
}

.containChart {
    flex-grow: 1;
    // height: 11rem;
    width: 100%;
    display: grid;
    gap: 0.5rem;
}

.description {
    font-size: 10pt;
    margin: 0px;
    padding-top: 10px;
}

.plot-box {
    height: 20rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-height: 40rem) {
    .plot-box {
        height: 25rem;
    }
}

.stats-box {
    align-self: stretch;
    margin: 0px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    // color: #b6b6b6;
    // font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: 600ms;
    border-style: solid;
    border-radius: 1rem;
    height: 2rem;
    box-sizing: border-box;
}

.stat:hover {
    filter: brightness(80%);
    -webkit-filter: grayscale(80%);
}

.label {
    padding: 10px;
    font-size: larger;
    color: white;
}