<app-summary></app-summary>
<div class="plot-box" *ngFor="let plot of plotData; let i = index; trackBy:identifierIndex">
    <h2>{{plot.label}}</h2>
    <p class="description" [innerHTML]="plot.description"></p>

    <div class="stats-box">
        <div *ngFor="let line of config.plot[i].lines" class='stat ripple' (click)="hideLine(line)" [ngStyle]="{'background-color': line.color[0]}">
            <div>{{line.label | titlecase}}</div>
            <div>{{sources?.simulation?.channels[line.y].value.slice(-1)[0] | numberKMBT: 2}}</div>
        </div>
    </div>

    <app-plot class="plot" [plotData]="plot"></app-plot>
</div>