

<mat-tab-group class="tab-group" >
    <mat-tab label="{{plot.label}}"  *ngFor="let plot of plotData; let i = index; trackBy:identifierIndex">

        <p class="description" [innerHTML]="plot.description"></p>
        
        <div class="stats-box">
            <div *ngFor="let line of config.plot[i].lines" 
            class='stat' 
            (click)="hideLine(line)" 
            [ngStyle]="{'background-color': line.color[0]}"
            matRipple [matRippleRadius]="50">
                <div>{{line.label | titlecase}}</div>
                <div>{{sources?.simulation?.channels[line.y].value.slice(-1)[0]  | numberKMBT: 2}}</div>
            </div>
        </div>

        <app-plot class="plot"
            [plotData] = "plot"
        ></app-plot>

    </mat-tab>

</mat-tab-group>
