

@media screen and (max-width: 801px) {
.content-grid {
  margin: auto;
  
  max-width: 95%;
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); //repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 56px;
}

  ////////////////////////
  .card-summary {
    grid-row: span 2 / auto;
    grid-column: span 1 / auto;
  }

  ////////////////////////
  .card-plot {
    grid-row: span 6 / auto;
    grid-column: span 1 / auto;
  }

  ////////////////////////
  .card-control {
    grid-row: span 4 / auto;
    grid-column: span 1 / auto;
  }
}

@media screen and (min-width: 800px) {
  .content-grid {
    margin: auto;
    
    max-width: 95%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(240px, 1fr)); //repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 75px;
  }
  
  ////////////////////////
  .card-summary {
    grid-row: span 2 / auto;
    grid-column: span 1 / auto;
  }

  ////////////////////////
  .card-plot {
    grid-row: span 5 / auto;
    grid-column: span 1 / auto;
  }

  ////////////////////////
  .card-control {
    grid-row: span 3 / auto;
    grid-column: span 1 / auto;
  }
}
