
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Outbreak</span>
    </mat-toolbar-row>
    
</mat-toolbar>

<div class="all-content">
    <h2>
        WARNING: this is a toy model that is definitely wrong.
        Even with the best data and models, epidemics are extremely difficult to predict, 
        and I'm just some guy on the internet. 
    </h2>
</div>



<div class="all-content">

        <section class="plot-grid" >

        <mat-card class="card-option">
            <mat-card-header>
                <mat-card-title>Reset Conditions</mat-card-title>
                <mat-card-subtitle>
                    These cases illustrate how widely the outomes can range with small changes to the model inputs. 
                    <!-- It is unlikely the true outcome will be better than the "bad" case, but it could be worse that the "very very bad" case. -->

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" (click)="setCase('optimistic')">Bad</button>
                        <button mat-raised-button color="accent" (click)="setCase('moderate')">Very Bad</button>
                        <button mat-raised-button color="warn" (click)="setCase('pessimistic')">Very Very Bad</button>
                    </div>
                    <div class="example-button-row">
                        <button mat-raised-button color="white" (click)="swapLogarithmic()">{{linLogButton}}</button>
                    </div>
                </mat-card-subtitle>
            </mat-card-header>    

            <mat-card-content class="multiplot">
            </mat-card-content>
        </mat-card>

        <mat-card class="card-option">

            <mat-card-header>
                <mat-card-title>Summary</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>    

            <mat-card-content class="multiplot">
                <ul>
                    <li>Deaths: {{results.total_fatalities.slice(-1)[0]  | number : '1.0-0'}}</li>
                    <li>Confirmed Cases: {{results.total_confirmed.slice(-1)[0]  | number : '1.0-0'}} </li>
                    <li> Total Infections:{{results.total_infected.slice(-1)[0]  | number : '1.0-0'}} </li>
                  </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-plot" *ngFor = "let plot of plotData">

            <mat-card-header>
                <mat-card-title>{{plot.title}}</mat-card-title>
                <mat-card-subtitle>{{plot.subtitle}}</mat-card-subtitle>
            </mat-card-header>    

            <mat-card-content class="multiplot">
                <app-plot class="plot"
                    [plotData] = "plot"
                ></app-plot>
            </mat-card-content>
        </mat-card>

    </section>

    <section style="width: 90%; margin: auto">

        <mat-tab-group 
        animationDuration = 0>
            <mat-tab label="Social">
                <mat-card class="card-control">
                    <mat-card-header>
                        <mat-card-title>Social Behavior</mat-card-title>
                        <mat-card-subtitle>Combined effect on disease transmission of: physical distancing, handwashing, travel restrictions, etc. A value of 1, is "buisness as usual", and 0 is total isolation.</mat-card-subtitle>
                    </mat-card-header>    
        
                    <mat-card-content class="multiplot">
                        <div class="slider-box">
                            <div class="slider" *ngFor="let item of controls.social; let i = index">
                                <h4>{{dateFromDay(controls.days[i]) | date : 'MMM d'}}</h4>
                                {{item.value}}
                                <mat-slider 
                                    max="1"
                                    min="0"
                                    step="0.05"
                                    vertical = true
                                    [(ngModel)] = "item.value"
                                    (ngModelChange)="updateResults()"
                                    color="black"
                                ></mat-slider>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>


            <mat-tab label="Testing">
                <mat-card class="card-control">
                    <mat-card-header>
                        <mat-card-title>Testing</mat-card-title>
                        <mat-card-subtitle>Number of test carried out per day. The simulation assumes a positive rate of 15% (the other 85% were negative). A 5 day delay in applied to test results. Sliders are logorithmic.</mat-card-subtitle>
                    </mat-card-header>    
        
                    <mat-card-content class="slider-box">
                        <div class="slider"
                            *ngFor="let item of controls.tests; let i = index">
                                <h4>{{dateFromDay(controls.days[i]) | date : 'MMM d'}}</h4>
                                <div>{{pow10(item.value)}}</div>
                                <mat-slider 
                                    max="9"
                                    min="0"
                                    step="0.2"
                                    vertical = true
                                    [(ngModel)] = "item.value"
                                    (ngModelChange)="updateResults()"
                                    color="black"
                                ></mat-slider>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="Disease"> 
                <mat-card class="card-control">
                    <mat-card-header>
                        <mat-card-title>Disease Defenition</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>    
        
                    <mat-card-content class="slider-box">
                        <div  class="slider">
                            <h4>R0</h4>
                            {{simConfig.R0}}
                            <mat-slider
                                max="5" min="0.5" step=".1"
                                vertical = true
                                [(ngModel)] = "simConfig.R0"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div>

                        <!-- <div class="slider">
                            <h4>First Infection</h4>
                            {{getInitialDate() | date : 'MMM d' }}
                            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                            <mat-icon (click)="incrementDate()">keyboard_arrow_up</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                            <mat-icon (click)="decrementDate()">keyboard_arrow_down</mat-icon>
                            </button>
                        </div> -->

                        <div  class="slider">
                            <h4>First Infection</h4>
                            {{getInitialDate() | date : 'MMM d' }}
                            <mat-slider
                                step="1"
                                min = "-10"
                                max = "20"
                                vertical = true
                                [(ngModel)] = "simConfig.dayOffset"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div>

                        <div  class="slider">
                            <h4>Population</h4>
                            {{postFix_kMBT(simConfig.population)}}
                            <mat-slider 
                                max="1e9" min="1" step="1e6"
                                vertical = true
                                [(ngModel)] = "simConfig.population"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div>

                        <div class="slider">
                            <h4>Asymptomatic</h4>
                            {{simConfig.asymptomatic | percent:'0.0-2'}}
                            <mat-slider 
                                max=".5" min="0" step=".01"
                                vertical = true
                                [(ngModel)] = "simConfig.asymptomatic"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div>

                        <div class="slider">
                            <h4>Moderate</h4>
                            {{simConfig.moderate | percent:'0.0-2'}}
                            <mat-slider 
                                min="0" step="1"
                                vertical = true
                                [(ngModel)] = "simConfig.moderate"
                                (ngModelChange)="updateResults()"
                                color="black"
                                disabled = "true"
                            ></mat-slider>
                        </div>  
                        <div class="slider">
                            <h4>Severe</h4>
                            {{simConfig.severe | percent:'0.0-2'}}
                            <mat-slider 
                                max=".3" min="0" step="0.01"
                                vertical = true
                                [(ngModel)] = "simConfig.severe"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div>   
                        <div class="slider">
                            <h4>Critical</h4>
                            {{simConfig.critical | percent:'0.0-2'}}
                            <mat-slider 
                                max=".2" min="0" step=".005"
                                vertical = true
                                [(ngModel)] = "simConfig.critical"
                                (ngModelChange)="updateResults()"
                                color="black"
                            ></mat-slider>
                        </div> 
                    </mat-card-content>
                </mat-card>
            </mat-tab>

        </mat-tab-group>


    </section>

</div>